<html xmlns:th="http://www.thymeleaf.org" th:fragment="default_head" data-coreui-theme="dark">
    <th:block>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keyword" content="">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/config.js"></script>
    </th:block>
</html>