<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default_layout}"
      th:with="mainTitle='OCR'"
      layout:fragment="content">
<head>
  <title>하이퍼 포탈 :: OCR</title>
</head>
<body>
<div class="body flex-grow-1">
  <div class="container-lg px-4">
    <div class="row g-4 mb-4">
      <span><a th:href="@{/ocr/template/list}">Template list</a></span>
      <span class="h3">engine : <span class="h5" th:text="${result.result.engine}"></span></span>
      <span class="h3">expired : <span class="h5" th:text="${result.result.expired}"></span></span>
      <span class="h3">version : <span class="h5" th:text="${result.result.version}"></span></span>
      <textarea th:text="${json}" class="form-control w-50" id="exampleFormControlTextarea1" rows="13"></textarea>
    </div>
  </div>
</div>
</body>
</html>