<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default_layout}"
      th:with="mainTitle='OCR Template'"
      layout:fragment="content">
<head>
  <title>하이퍼 포탈 :: OCR Template</title>
</head>
<body>
<div class="body flex-grow-1">
  <div class="container-lg px-4">
    <div class="row g-4 mb-4">
      <span class="h1">OCR Template</span>
      <span th:text="${latestDir}"></span>
      <ul class="list-group">
        <li class="list-group-item" th:each="template : ${templateList}" th:text="${template}"></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>